.heading {
  margin: 95px 0px 0px 130px;
  color: hsl(300, 43%, 22%);
  font-size: 58px;
  width: 400px;
  line-height: 1;
  font-family: "League Spartan", sans-serif;
  position: absolute;
}

.paragraph {
  font-size: 15px;
  width: 370px;
  color: hsl(303, 10%, 53%);
  margin-left: 130px;
  position: relative;
  bottom: 75px;
  font-weight: bold;
  font-family: 'League Spartan',sans-serif;
}

.bottom-image
{
    position: absolute;
    top: 130px;
    right: 0px;
}

.container_fluid {
  background-color: hsl(300, 24%, 96%);
  width: 480px;
  position: absolute;
  top: 130px;
  height: 50px;
  right: 300px;
  border-radius: 10px;
}

.container_fluid-2
{
    background-color: hsl(300, 24%, 96%);
  width: 480px;
  position: absolute;
  top: 200px;
  height: 50px;
  right: 240px;
  border-radius: 10px;
  
}

.container_fluid-3
{
    background-color: hsl(300, 24%, 96%);
  width: 480px;
  position: absolute;
  top: 270px;
  height: 50px;
  right: 180px;
  border-radius: 10px;
}

.star-icon {
  margin-left: 10px;
}

.content-heading {
  display: inline-block;
  padding: 15px 30px 5px 80px;
  color: hsl(300, 43%, 22%);
  font-family: "League Spartan", sans-serif;
}

#testimonial
{
  margin-left: 130px;
}

.card-1
{
  background-color:hsl(300, 43%, 22%) ;
}

.card-2 
{
  background-color:hsl(300, 43%, 22%) ;
  position: relative;
  left: 370px;
  bottom: 190px;
}

.card-3
{
  background-color: hsl(300, 43%, 22%);
  position: relative;
  left: 745px;
  bottom: 370px;
}
.testimonial-heading
{
  color:hsl(0, 0%, 100%) ;
  position: relative;
  right: 90px;
}

.testimonial-text
{
  color:  hsl(333, 80%, 67%);
  position: absolute;
  left: 100px;
}

.testimonial-image
{
  border-radius: 100%;
  margin: 10px 5px 0px 10px;
  width: 60px;
  height: 60px;
}

.testimonial-responses
{
  color:hsl(0, 0%, 100%) ;
}
